<form ng-submit="save()">
<div class="modal-header">
    <h4 class="modal-title">Edit Parameter key</h4>
</div>
<div class="modal-body">
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="editParameter">Parameter Key</span>
	  </div>
	  <input type="text" class="form-control" required aria-label="Default" placeholder="Parameter Key" ng-model='parameterkey'>
	</div>
</div>
<div class="modal-footer">
	<div align="right">
		<button type="submit" class="btn btn-success">
			<span class="fa fa-save" aria-hidden="true"></span> Save
		</button>
	</div>
</div>
</form>


